.st-detail-coin {
    text-align: center;
    padding: 10;
}

.lb-detail-title {
    font-size:28;
}

.st-subdetail {
    horizontal-align:center;
    font-size:20;
}

.cardStyle {
    background-color: white;
}